// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 33px;
}

h1{
  margin: 0px 15px;
}

.top-1{
  margin: 40px;
  line-height: 3;
}

storong{
  font-weight: bold;
}

.top{
  margin: 40px;
}